.background {
  height: 100vh;
  padding-top: 5%;
}
.background.theme-one {
  background-color: hsl(222, 26%, 31%);
}
.background.theme-two {
  background-color: #e6e6e6;
}
.background.theme-three {
  background-color: #17062a;
}
.App {
  margin: 0 auto;
  width: 40%;
}
.top-bar {
  color: #fff;
  justify-content: space-between;
}
.logo {
  font-size: 1.5rem;
}
.theme-number.theme-one,
.theme-text.theme-one,
.logo.theme-one {
  color: #ffffff;
}
.theme-number.theme-two,
.theme-text.theme-two,
.logo.theme-two {
  color: #000;
}
.theme-number.theme-three,
.theme-text.theme-three,
.logo.theme-three {
  color: #fee53f;
}
.theme-toggler > p {
  font-size: 0.65rem;
  text-transform: uppercase;
  align-self: flex-end;
  margin-bottom: 5px;
  font-weight: 500;
  letter-spacing: 2px;
}
.theme-toggler > div {
  margin-left: 40px;
}
.theme-numbers {
  justify-content: space-around;
}
.theme-numbers p {
  cursor: pointer;
}
.theme-toggler > div > div {
  width: 70px;
}
.active-theme-screen {
  height: 23px;
  background-color: hsl(223, 31%, 20%);
  border-radius: 0.75rem;
  padding: 4px 5px;
  margin-top: 3px;
  justify-content: space-between;
}
.active-theme-screen > .theme-one:first-child {
  background-color: hsl(6, 63%, 50%);
}
.active-theme-screen > .theme-two:nth-child(2) {
  background-color: #c9580a;
}
.active-theme-screen > .theme-three:nth-child(3) {
  background-color: #05dccd;
}
.active-theme-screen > div {
  height: 95%;
  width: 15px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}
@media screen and (max-width: 1150px) {
  .App {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .App {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .background {
    padding-top: 17%;
  }
}
