@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}
*:not(.grid-items) {
  transition: color, background-color 3s ease-out;
}

.flex {
  display: flex;
}

:root {
  --border-radius: 0.5rem;
}
